@import "./variable.scss";
body{
    padding: 0;
    margin: 0;
    background-color: $primary-light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    position: relative;
    // overflow: scroll;
    width: 100vw;
}

.main-login{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.header-login{
    width: 100%;
    position: fixed;
    top: 0;
    .logo-img-login{
        margin-left: 320px;
        margin-top: 40px;
        height: 40px;
        width: 180px;
    }
    @media screen and (max-width: 1000px) {
        .logo-img-login{
            margin-left: 10px;
            margin-top: 40px;
            height: 40px;
            width: 180px;
        }
    }
    // background-color: aquamarine;
}

.form-login{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-headtitle-login{
    font-weight: 500;
    color: rgb(83, 83, 83);
    text-align: center;
}

.form-container-login{
    box-shadow: 0 0 0 2px #b9b9b96e;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: auto;
    max-width: 400px;
    h2{
        padding: 10px;
        padding-bottom: 0px;
    }
    span{
        padding: 10px;
    }
    .error-message-login{
        color: red
    }
    .button-login{
        // margin-top: 20px;
        padding: 10px;
        text-align: center;
        button{
            outline: none;
            background-color: #0A66C2;
            width: 100%;
            color: white;
        }
        button:hover{
            background-color: #003e7c;
        }
        button:active{
            background-color: #001122;
        }
    }
    .button-back{
        padding: 10px;
        text-align: center;
        button{
            outline: none;
            background-color: $primary-light;
            width: 100%;
            color: rgb(86, 86, 86);
        }
        button:hover{
            background-color: #cecece;
        }
        button:active{
            background-color: #959595;
        }
    }
}

.form-component-login{
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 10px;
    
    label{
        font-size: 16px;
        color: grey;
    }
    input{
        border-radius: 5px;
        border: 1px solid grey;
        height: 28px;
        width: auto;
    }
    input:focus{
        outline: none;
        border: 1px solid  #0A66C2;
    }
}
.span-agreement-login{
    text-align: center;
    align-items: center;
}
.forgot-password-login{
    // padding: 10px;
    text-align: left;
    a{
        color: #0A66C2;
    }
}
.join-form__form-body-agreement-login{
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.link-to-signin-login{
    color: #0A66C2;
}

.link-to-signin-login:hover{
    cursor: pointer;
}

.footer-login{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    // text-align: center;
    // height: fit-content;
    // align-items: center;
    padding: 10px;

    .footer-component-login{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @media screen and (max-width: 420px) {
        .footer-component-login{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

}

.left-login{
    // justify-content: center;
    margin-top: 2px;
    display: flex;
    // flex-direction: row;
    svg{
        margin-top: 4px;
    }
    a{
        font-size: 12px;
        color: rgb(97, 97, 97);
        pointer-events: none;
        cursor: default;
        padding-left: 10px;
    }
}

.center-right-login{
    display: flex;
}

.center-login{
    justify-content: center;
    a{
        margin-left: 10px;
        color: rgb(99, 99, 99);
        font-size: 12px;
    }
    a:hover{
        text-decoration: underline;
        color: #0A66C2;
    }
}

.right-login{
    justify-content: center;
    a{
        margin-left: 10px;
        color: rgb(99, 99, 99);
        font-size: 12px;
    }
    a:hover{
        text-decoration: underline;
        color: #0A66C2;
    }
}

@media screen and (max-width: 420px) {
    .center-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .center-right-login{
        display: flex;
        flex-direction: row;
    }
    .form-container-login{
        max-width: 320px;
    }
    .form-component-login{
        width: 300px;
    }
}