@import "../styles/variable.scss";

.message{
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
}

.search-people-connect{
    input{
        width: 350px;
        height: 40px;
        border-radius: 10px;
    }
    display: flex;
    flex-direction: column;
}

.searchView:hover{
    cursor: pointer;
}

.searchView{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color;
    border-radius: 10px;
    height: 50px;
    padding: 6px;
    span{
        margin-left: 10px;
        font-weight: bold;
    }
}

.searchView-pp{
    aspect-ratio: 1/1;
        width: 40px;
        height: 40px;
        border-radius: 100%;
}

.room-component{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color;
    border-radius: 10px;
    height: 50px;
    padding: 6px;
    span{
        margin-left: 10px;
        font-weight: bold;
    }
}

.room-component:hover{
    cursor: pointer;
}

.room-component-img{
    aspect-ratio: 1/1;
        width: 40px;
        height: 40px;
        border-radius: 100%;
}

.msg-template{
    display: flex;
    flex-direction: row;
}

.msg-pp{
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.msg-detail{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .msg-span{
        font-weight: bold;
    }
}