@import "../styles/variable.scss";
.notification{
    height: fit-content;
}

.notif-component{
    padding: 10px;
    background-color: $secondary-color;
    max-width: 300px;
    border-radius: 10px;
}

.notif-big{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}